# Nested loops

In [6]:
# A loop contain one more loop that we can call it as nested loop
for i in range (1,3): # outer block
  for j in range (1,4):  # inner block
    # block of code
     print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3

In [56]:
# print 1 to 10 numbers
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# print 1 to 10 numbers
i = 0
while i < 11:
    print(i)

In [7]:
for i in range (1,3): # outer block
  for j in range (1,11):  # inner block
    # block of code
     print(f"{i} * {j} = {i*j}")
  print("_____________ ")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
_____________
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
_____________

In [12]:
# print i1 to 10 numbers 
i=0
for i in range (1,3):
    for j in range (1,11):
        print(f"{i} * {j} = {i*j}")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [46]:
# write 3 table program in functions
def print_table (n):
  for i in range (1,11):
    print(f"{n} * {i} = {n*i}")
  return   
# 3 table
print_table(3)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

# patterns

In [58]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [59]:
for i in range (1,11):
    print(i, end = "  ")

1  2  3  4  5  6  7  8  9  10

In [19]:
for i in range (1,11):
    print(i, end = "@")

1@2@3@4@5@6@7@8@9@10@

In [20]:
for i in range (1,11):
    print(i, end = "  ")
print("Done")
print("hi")

1  2  3  4  5  6  7  8  9  10  Done
hi

In [25]:
# print n stars in horizotally
# example n = 5 -> * * * * *
n = int(input())
for i in range(1, n+1):
    print("*",end =' ')

 5

* * * * *

In [60]:
# string repeatation
n= int(input())
print("* " *n)

 7

* * * * * * *

In [37]:
n= int(input())
for i in range (1,3):
  print("*" *n)

 5

*****
*****

In [61]:
# print n stars in horigentlly
# example n = 5 -> * * * * *
n = int(input())
for i in range(1, n+1):
    print("*", end= ' ')
# print n stars in horigentlly
# example n = 5 -> * * * * *
print()
for i in range(1, n+1):
    print("*", end= ' ')

print()
for i in range(1, n+1):
    print("*", end= ' ')

 4

* * * *
* * * *
* * * *

In [43]:
n= int(input())
for i in range(1,3):
  for i in range (1, n+1):
    print("*",end = ' ')
  print()

 10

* * * * * * * * * *
* * * * * * * * * *

In [44]:
n= int(input())
for i in range(1,n+1):
  for i in range (1, n+1):
    print("*",end = ' ')
  print()

 5

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
# rectangular pattern
# n=4
# 1 1 1 1
# 2 2 2 2
# 3 3 3 3
# 4 4 4 4

In [62]:
for i in range(6):
    for j in range(6):
        if i == j:
            print("*", end = " ")
       # else:
        #    print(" ", end = " ")
    print()

*
*
*
*
*
*

In [63]:
for i in range(6):
    for j in range(6):
        if i == j:
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

*
  *
    *
      *
        *
          *

In [3]:
n=5
for i in range(n):
    for j in range(n):
        if  i==j or j == n-1-i:
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

*       *
  *   *
    *
  *   *
*       *

In [50]:
for i in range(5):
    for j in range(5):
        if i >= j:
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [51]:
for i in range(5):
    for j in range(5):
        if i==j or j==0 or j == n-1:
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

*       *
* *     *
*   *   *
*     * *
*       *

In [52]:
n=6
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or i==n//2 or (i<=n//2 and j==0) or (i>= n//2 and j == n-1):
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

* * * * * *
*
*
* * * * * *
          *
* * * * * *

In [79]:
n=6
for i in range(n):
    for j in range(n):
        print(i, end = " ")
    print()

0 0 0 0 0 0
1 1 1 1 1 1
2 2 2 2 2 2
3 3 3 3 3 3
4 4 4 4 4 4
5 5 5 5 5 5

In [53]:
n=6
for i in range(n):
    for j in range(n):
        print(i+1, end = " ")
    print()

1 1 1 1 1 1
2 2 2 2 2 2
3 3 3 3 3 3
4 4 4 4 4 4
5 5 5 5 5 5
6 6 6 6 6 6

In [80]:
n=6
for i in range(n):
    for j in range(n):
        if i>= j:
            print(i+1, end = " ")
        else:
            print(" ", end = " ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

In [54]:
n=6
for i in range(n):
    for j in range(n):
        if i>= j:
            print(j+1, end = " ")
        else:
            print(" ", end = " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6