In [1]:
# Who is topper 
print("Welcome to the who is topper")
n = int(input("Enter the number of the students in class:"))
names = []
marks = []
class_marks = []
percentage = []
print("Enter the all the student marks")
for i in range (n) :
    print(f"Enter the roll numbers {i+1} student marks")
    name = input("Enter the student name:")
    print("Enter the Telugu, Hindi, English, Maths, Science, Social marks, as per the order")
    telugu, hindi, english, maths, science, social = map(int, input().split()[:6])
    total_marks = telugu + hindi + english + maths + science + social
    std_percentage = (total_marks/600) * 100
    # store all values in list
    names.append(name)
    marks.append(std_percentage)
    class_marks.append(total_marks)
    percentage.append(std_percentage)
# print the topper details
print("Topper in the class is")
top_marks = max(class_marks)
topper_pos = []
for i in range (n) :
    if class_marks[i] == top_marks:
        topper_pos.append(i)
#print the topper details
for i in range(len(topper_pos)):
   print("Name of the student is:", names[i])
   print("marks of the student is:",names[i])
   print("total marks:",class_marks[i])
# Each student marks
for i in range(n):
    print("Name of the student is:",names[i], "and marks is:",marks[i], " and total marks:", class_marks)

Welcome to the who is topper

Enter the number of the students in class: 3

Enter the all the student marks
Enter the roll numbers 1 student marks

Enter the student name: tanuja

Enter the Telugu, Hindi, English, Maths, Science, Social marks, as per the order

 89 87 67 88 99 90

Enter the roll numbers 2 student marks

Enter the student name: shiva

Enter the Telugu, Hindi, English, Maths, Science, Social marks, as per the order

 66 77 99 88 90 78

Enter the roll numbers 3 student marks

Enter the student name: vishnu

Enter the Telugu, Hindi, English, Maths, Science, Social marks, as per the order

 56 67 78 89 90 88

Topper in the class is
Name of the student is: tanuja
marks of the student is: tanuja
total marks: 520
Name of the student is: tanuja and marks is: 86.66666666666667  and total marks: [520, 498, 468]
Name of the student is: shiva and marks is: 83.0  and total marks: [520, 498, 468]
Name of the student is: vishnu and marks is: 78.0  and total marks: [520, 498, 468]

In [ ]:
# Find the smallest value in the list (without built-in functions)
# Find the largest value in the list (without built-in functions)
# Find the length of the list (without using len())

In [5]:
# Find the smallest value in the list (without built-in functions)
lst = [1, 2, 4, 5, 6, -5]
smallest = lst[0]
for i in lst:
    if i < smallest:
        smallest = i
print(smallest)

-5

In [6]:
# Find the largest value in the list (without built-in functions)
lst = [1, 2, 4, 5, 6, -5]
largest = lst[0]
for i in lst:
    if i > largest:
        largest = i
print(largest)

6

In [7]:
# Find the length of the list (without using len())
lst = [1, 2, 4, 5, 6, -5]
count = 0
for i in lst:
    count += 1
print(count)

6